@font-face {
  font-family: 'iconfont';  /* project id 507233 */
  src: url('https://at.alicdn.com/t/font_507233_q1feys807ivsra4i.eot');
  src: url('https://at.alicdn.com/t/font_507233_q1feys807ivsra4i.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_507233_q1feys807ivsra4i.woff') format('woff'),
  url('https://at.alicdn.com/t/font_507233_q1feys807ivsra4i.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_507233_q1feys807ivsra4i.svg#iconfont') format('svg');
}
/* 头部开始 */
.head{
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, .8);
	border-bottom: 1px solid #ccc;
}
.head-neikuan{
	width: 1226px;
	height: 100%;
	/* background: pink; */
	margin: 0 auto;
}
.head-left{
	/* background: skyblue; */
	float: left;
	overflow: hidden;
}
.head-wenzi{
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
	float: left;
	margin-right: 16px;
}
.head-wenzi:hover{
	color: #fff;
}

.head-right{
	/* background: black; */
	float: right;
}
.car{
	width: 120px;
	height: 40px;
	background: rgba(255, 255, 255, .1);
	float: left;
	line-height: 40px;
	text-align: center;
}
.car .head-car{
	color: #b0b0b0;
	font-size: 12px;
	
}
.car:hover{
	background: #fff;
}
.car:hover .head-car{
	color: orange;
}

.icon-cart:before{
	margin-right: 5px;
}
/* 头部结束 */
/* 导航开始 */
.nav{
	width: 1226px;
	height: 100px;
	/* background: pink; */
	margin: 0 auto;
	overflow: hidden
}
.nav-left{
	width: 55px;
	height: 55px;
	background: orange;
	margin-top: 22.5px;
	float: left;
}
.nav-center{
	float: left;
	/* background: red; */
	margin-left: 180px;
	line-height: 100px;
}
.nav-wenzi{
	padding: 7px;
	font-weight: 300;
	cursor: pointer;

}
.nav-wenzi span{
	padding: 10px;
	font-weight: 300;
	color: orange;
}

.nav-right{
	width: 297px;
	height: 50px;
	margin-top: 25px;
	float: right;
	/* background: pink; */
	border: 0px solid #e0e0e0;

}
.nav-right:hover input{
	border-color: #b0b0b0;
}
.nav-search{
	width: 245px;
	height: 50px;
	background: red;
	float: left;

}
.nav-search input{
	width: 100%;
	height: 100%;
	background: white;
	box-sizing: border-box;
	/* 浏览器会自动解析padding/border到盒子大小中 */
	border: 1px solid #e0e0e0;
	padding: 0 10px;
}
.nav-btn{
	width: 52px;
	height: 50px;
	background: yellowgreen;
	float: left;
}
.nav-btn input{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	background: #fff;
	border-left: 0px;
	font-size: 20px;
	color: #616161;
	font-weight: 900;
}
.nav-btn input:hover{
	background: orange;
	color: #fff;
}
/* 导航结束 */

/* 单品开始 */
.danpin{
	width: 1226px;
	height: 438px;
	/* background: pink; */
	margin: 0 auto;
}

.danpin-top{
	width: 100%;
	height: 58px;
	/* background: yellow; */
	line-height: 58px;
	color: #333;
}
.danpin-title{
	font-size: 22px;
	font-weight: 200;
	float: left;
}
.danpin-jiantou{
	width: 72px;
	height: 25px;
	/* background: red; */
	float: right;
	margin-top: 16.5px;

}
.danpin-jiantou button{
	width: 34px;
	height: 23px;
	border: 1px solid #ccc;
	background: #fff;
	float: left;
	box-sizing: content-box;
	cursor: pointer;
}

.danpin-bottom{
	width: 100%;
	height: 380px;
	/* background: red; */
}

.danpin-item{
	width: 234px;
	height: 340px;
	border-top: 1px solid #2196f3 ;
	background: #fafafa;
	text-align: center;
	float: left;
	margin-right: 14px;
}
.danpin-item:nth-child(1){
	border-top: 1px solid orange;	
}
.danpin-item:nth-child(2){
	border-top: 1px solid #008000;	
}
.danpin-item:nth-child(4){
	border-top: 1px solid red;	
}

.danpin-item:nth-child(5){
	margin-right: 0px;
	border-top: 1px solid #00c0a5;
	
}

.danpin-item1{
	width: 160px;
	height: 166px;
	/* background: yellowgreen; */
	margin: 0 auto;
	margin-top: 39px;
	cursor: pointer;
}
.danpin-item2{
	display: block;
	margin-top: 45px;
	font-size: 14px;
	font-weight: 400;
	color: #212121;
}
.danpin-item3{
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #b0b0b0;
}
.danpin-item4{
	display: block;
	margin-top: 10px;
	font-size: 13px;
	color: orange;
}

/* 单品结束 */

.bannerList{
	width: 1226px;
	height: 170px;
	/* background: red; */
	margin: 0 auto;
	margin-top: 14px;
}
.bannerList li{
	width: 316px;
	height: 100%;
	background: #5f5750;
	float: left;
}
.bannerList li:hover{
	box-shadow: 0 15px 30px 0px rgba(0, 0, 0, .1);
}
.bannerList li:nth-child(1):hover{
	box-shadow: none;
}
.bannerList li:nth-child(1){
	width: 228px;
	height: 164px;
	padding: 3px;
}
.bannerList li:nth-child(2){
	margin-left: 14px;
}
.bannerList li:nth-child(3){
	margin-left: 15px;
}
.bannerList li:nth-child(4){
	margin-left: 15px;
}
.banner-icon{
	width: 76px;
	height: 64px;
	/* background: pink; */
	padding-top: 18px;
	float: left;
	/* border: 0.5px solid #665e57; */
}

.banner-icon .banner-shouji{
	font-size: 24px;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-align: center;
}
.banner-icon a:hover span{
	color: #fff;
}

.banner-icon .banner-shouji1{
	font-size: 14px;
	/* font-weight: bolder; */
	color: rgba(255, 255, 255, 0.7);
	display: block;
	text-align: center;
}
#box{
	width: 100%;
	background: #f5f5f5;
	padding-top: 60px;
}
.jiadian{
	width: 1226px;
	height: 686px;
	/* background: #ede5da; */
	margin: 0 auto;
}
.jiadian-top{
	width: 100%;
	height: 58px;
	/* background: #c6c6c6; */
}
.jiadian-top h2{
	line-height: 58px;
	font-size: 22px;
	font-weight: 200;
	color: #333;
	/* font-style: '苹方'; */
	float: left;
}
.jiadian-select{
	/* background: #DBCEC5; */
	margin-top: 16px;
	float: right;
	color: #424242;

}
.jiadian-select span{
	float: left;
	margin-left: 30px;
}
.jiadian-select .jiadian-select-active{
	border-bottom: 2px solid orange;
	color: orange;
	cursor: pointer;
	padding-bottom: 3px;

}
.jiaidan-select-hover1:hover{
	border-bottom: 2px solid orange;
	color: orange;
	cursor: pointer;
	padding-bottom: 3px;

}
.jiadian-bottom{
	width: 1226px;
	height: 628px;
	/* background: red; */
	margin: 0 auto;
}
.jiadian-left{
	width: 234px;
	height: 614px;
	/* background: yellowgreen; */
	float: left;
	transition: all .2s linear;
}
.jiadian-left,.jiadian-item,
.jiadian-item-s,.tuijian-item,
.reping-item,.neirong-item,
.shipin-item{
	transition: all .1s linear;
}

.jiadian-left:hover,.jiadian-item:hover,
.jiadian-item-s:hover,.tuijian-item:hover,
.reping-item:hover,.neirong-item:hover,
.shipin-item:hover{
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .1);
	transform: translateY(-5px);
}
.jiadian-item-tan{
	width: 100%;
	height: 80px;
	background: #ff6700;
	position: absolute;
	left: 0;
	bottom: -80px;
	text-align: center;	
	color: #fff;
	transition: all .2s linear;
	font-size: 14px;
}
.jiadian-huifu{
	display: block;
	margin-top: 10px;
}
.jiadian-huifu1{
	font-size: 12px;
	color: rgba(255,255,255,0.6);
}
.jiadian-huifu2 .jiadian-huifu1{
	text-align: left;	
}
.jiadian-item:hover .jiadian-item-tan{
	bottom: 0;
}

.jiadian-right{
	width: 992px;
	height: 614px;
	/* background: blue; */
	float: left;
}
.jiadian-item{
	width: 234px;
	height: 266px;
	background: white;	
	margin-left: 14px;
	padding-top: 34px;
	float: left;
	margin-bottom: 14px;
	position: relative;
	overflow: hidden;
}
.jiadian-item1{
	display: block;
	width: 150px;
	height: 156px;
	/* background: pink; */
	margin: 0 auto;
}
.jiadian-item2{
	display: block;
	text-align: center;
	margin-top: 18px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
.jiadian-item3{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.jiadian-item4{
	display: block;
	text-align: center;
	color: orange;
	font-size: 14px;
	margin-top: 10px;
}
.jiadian-item-s{
	width: 234px;
	height: 143px;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
	float: left;

}
.jiadian-wenzi{
	float: left;
	margin-left: 30px;
	margin-top: 25px;
	
}
.jiadian-wenzi .jiadian-item4{
	text-align: left;
}
.jiadian-img{
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	background: red;
}
.zhineng .jiadian-item:nth-child(1){
	margin-left: 0px;
}
.zhineng .jiadian-item:nth-child(6){
	margin-left: 0px;
}
.jiadian-item5{
	font-size: 18px;
	margin-top: 25px;
}
.jiadian-item6{
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.jiadian-icon{
	width: 52px;
	height: 52px;
	/* background: red; */
	margin-top: 45px;
	margin-right: 35px;
	float: right; 
}
.jiadian-icon .jiadian-jiantou{
	font-size: 48px;
	font-weight: bolder;
	color: #FF6700;
	display: block;
	text-align: center;
}
.zhineng .jiadian-bottom li:nth-child(1){
	padding-top: 0px;
	height: 300px;
}
.zhineng .jiadian-bottom li:nth-child(6){
	padding-top: 0px;
	height: 300px;
}
.box .danpin .tuijian{
	height: 380px;
}
.zhineng .tuijian-bottom{
	height: 320px;
}
.tuijian-bottom .tuijian-item{
	height: 300px;
	border: 0;
}
.tuijian-bottom .tuijian-item1{
	height: 140px;
	width: 140px;
}
.tuijian-bottom .tuijian-item2{
	display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}

.tuijian-bottom .tuijian-item3{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #757575;
}

.tuijian{
	width: 1226px;
    height: 380px;
    /* background: pink; */
    margin: 0 auto;
}
.reping{
	width: 1226px;
	height: 473px;
	/* background: yellowgreen; */
	margin: 0 auto;
}
.reping-top{
	width: 100%;
	height: 58px;
	/* background: skyblue; */
	margin: 0 auto;
}
.reping-title{
	font-weight: 100 ;
	font-size: 22px;
	line-height: 58px;
}
.reping-item{
	width: 296px;
	height: 415px;
	background: white;
	margin-bottom: 14px;
	float: left;
}
.reping-item1{
	margin-left: 14px;
}
.reping-img{
	width: 296px;
	height: 220px;
	/* background: yellow; */
	margin-bottom: 28px;
}
.reping-pinglun{
	width: 240px;
	height: 96px;
	margin: 0 auto;
	/* margin-bottom: 22px; */
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #333;
}
.reping-zuozhe{
	margin-left: 28px;
	font-size: 12px;
	font-weight: 400;
	color: #b0b0b0;
	margin-bottom: 8px;
}
.reping-wupin{
	margin-left: 28px;
	font-size: 14px;
	font-weight: 400;
	float: left;
}
.reping-mingzi{
	float: left; 
	margin-right: 10px;
	color: #333;
}
.reping-tiao{
	margin-right: 10px;
	float: left;
	color: #e0e0e0;
}
.reping-jiage{
	float: left;
	margin-right: 10px;
	color: orange;
	font-size: 14px;
}
.reping-pinglun1{
	color: #333;
}
.neirong{
	width: 1226px;
	height: 473px;
	/* background: yellowgreen; */
	margin: 0 auto;
	margin-top: 22px;
}

.neirong-bottom{
	width: 1226px;
	height: 420px;
	/* background: yellow; */
	margin: 0 auto;
}
.neirong-top{
	width: 100%;
	height: 58px;
	line-height: 58px;
	/* background: skyblue; */
	margin: 0 auto;
}
.neirong-title{
	font-weight: 100 ;
	font-size: 22px;
}
.neirong .neirong-item{
	width: 296px;
	height: 374px;
	background: #fff;
	border-top: 1px solid orange;
	padding-top: 40px;
	text-align: center;
	margin-bottom: 14px;
	float: left;
	position: relative;
}

.neirong .swiper-wrapper{
	height: auto;
}

.neirong .neirong-jiantou{
	background-image: none;
	width: 20px;
	height: 48px;
	/* background: red; */
	position: absolute;
	z-index: 998;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	cursor: pointer;
	line-height: 48px;
	color: #fff;
}
.neirong .neirong-jiantou1{
	background-image: none;
	width: 20px;
	height: 48px;
	/* background: blue; */
	position: absolute;
	z-index: 999;
	top: 0;
	bottom: 0;
	margin:auto;
	cursor: pointer;
	left: 0;
	line-height: 48px;
	color: #fff;
}

.neirong-left{
	font-size: 20px;
	line-height: 48px;
	color: #fff;
}
.neirong-right{
	font-size: 20px;
	line-height: 48px;
	color: #fff;
}
.neirong-item:hover .neirong-jiantou1,.neirong-item:hover .neirong-jiantou{
	background: rgba(0, 0, 0, .1);
	border-radius: 1px;
}
.neirong-item .neirong-jiantou1:hover,.neirong-item .neirong-jiantou:hover{
	background: rgba(0, 0, 0, .3);
}
.neirong-wenzi{
	font-size: 16px;
	font-weight: 400;
	color: orange;
	margin-bottom: 18px;
}
.neirong-mingzi{
	color: #333;
	font-size: 22px;
	font-weight: 300;
}
.neirong-kuang{
	width: 192px;
	height: 45px;
	overflow: hidden;
	/* background: red; */
	margin: 0 auto;
	margin-top: 5px;
}
.neirong-mingzi1{
	color: #333;
	font-size: 12px;
	font-weight: 300;
	color: #b0b0b0;
}
.neirong-mingzi2{
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}
.neirong-img{
	width: 216px;
	height: 154px;
	/* background: red; */
	margin: 0 auto;
	margin-top: 15px;
}
.neirong .neirong-dian{
	width: 52px;
	height: 30px;
	/* background: seagreen; */
	margin-bottom: 10px!important;
	display: block;
	margin: 0 auto;
}

.neirong .swiper-pagination-bullet{
	width: 6px;
	height: 6px;
	border: 2px solid #fff;
	background-color: #b0b0b0;
	border-radius: 50%;
	
}
.neirong .swiper-pagination-bullet-active{
	border: 2px solid orange;
	background: white;
	margin-top: 5px;
}
.neirong .swiper-pagination-bullet:hover{
	color: orange;
	cursor: pointer;
}
.neirong-bottom .neirong-item2{
	margin-left: 14px;
	float: left;
}
.neirong-bottom .neirong-item3{
	border-top: 1px solid #D5DA80;
}
.neirong-bottom .neirong-item4{
	border-top: 1px solid #E95A57;
}
.neirong-bottom .neirong-item5{
	border-top: 1px solid #2196F3;
}
.shipin{
	width: 1226px;
	height: 343px;
	/* background: yellowgreen; */
	margin: 0 auto;
	margin-top: 22px;
}
.shipin-top {
    width: 100%;
    height: 58px;
    /* background: red; */
}
.shipin-title {
    font-weight: 100;
    font-size: 22px;
    line-height: 58px;
}
.shipin-bottom {
    width: 100%;
    height: 285px;
    /* background: red; */
}
.shipin-item {
    width: 296px;
    height: 285px;
    background: white;
	float: left;
	margin-bottom: 14px;
}
.shipin-item1{
	margin-left: 14px;
}
.shipin-img{
	width: 296px;
	height: 180px;
	background: blue;
	position: relative;
}
.shipin-mingzi{
	display: block;
	font-size: 14px;
	color: #333;
	margin-top: 30px;
	text-align: center; 
}
.shipin-miaoshu{
	display: block;
	font-size: 12px;
	color: #b0b0b0;
	margin-top: 10px;
	text-align: center; 
	font-weight: 500;
}
.shipin-img .shipin-bofang {
    font-size: 37px;
    /* font-weight: bolder; */
    color: #fff;
    display: block;
	position: absolute;
	left: 20px;
	bottom: 5px;
}

.shipin-img:hover a{
	color: orange;
}
.banner{
	width: 1226px;
	height: 460px;
	background: red;
	margin: 0 auto;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
	cursor: pointer;
	/* background: pink; */
}
.banner-item{
	width: 100%;
	height: 100%;
	/* background: pink; */
	position: absolute;
	left: 0;
	top: 0;
}
.banner-item:nth-child(1){
	z-index: 998;
}
.banner-nav{
	width: 234px;
	height: 420px;
	/* background: pink; */
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	padding:20px 0;
	background: rgba(0, 0, 0, .6)
}
.banner-nav li:hover{
	background: #ff6700;
}

.banner-nav li{
	font-size: 14px;
	width: 100%;
	height: 42px;
	/* background: yellowgreen; */

	line-height: 42px;
}
.banner-nav li a{
	width: 184px;
	height: 42px;
	/* background: yellowgreen; */
	display: block;
	padding: 0 25px;
	color: #fff;
}
.banner-nav-jiantou{
	float: right;
}
.nav-wenzi:hover{
	color: orange;
}

.banner .banner-dian{
	width: 140px!important;
	height: 20px;
	position: absolute;
	right: 20px;
	bottom: 20px!important;
	/* background: seagreen; */
	left: auto!important;
}
.banner .swiper-pagination-bullet{
	width: 6px;
	height: 6px;
	border: 2px solid rgba(255,255,255, .3);
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	margin-right: 10px;
	float: left;
	margin-top: 15px;
}
.banner .swiper-pagination-bullet-active{
	border: 2px solid rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .8);
	cursor: pointer;
}
.banner .banner-right{
	width: 41px;
	height: 69px;
	/* background: blue; */
	position: absolute;
	right: 0;
	z-index: 999;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: none;
	font-size: 40px;
	line-height: 69px;
	color: #757575;
	cursor: pointer;
}
.banner .banner-right:hover{
	background: rgba(0, 0, 0, .4);
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
}

.banner .banner-left{
	width: 41px;
	height: 69px;
	/* background: blue; */
	position: absolute;
	left: 234px;
	z-index: 999;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: none;
	font-size: 40px;
	line-height: 69px;
	color: #757575;
	cursor: pointer;
}
.banner .banner-left:hover{
	background: rgba(0, 0, 0, .4);
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
}





.jiadian-dazhe{
	width: 64px;
	height: 20px;
	background: #E53935;
	position: absolute;
	margin-left: 85px;
	margin-top: -34px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.jiadian-dazhe1{
	width: 64px;
	height: 20px;
	background: #FFAC13;
	position: absolute;
	margin-left: 85px;
	margin-top: -34px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.jiadian-dazhe2{
	width: 64px;
	height: 20px;
	background: #83C44E;
	position: absolute;
	margin-left: 85px;
	margin-top: -34px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}

.jiadian-dazhe3{
	width: 64px;
	height: 20px;
	background: #E53935;
	position: absolute;
	margin-left: 85px;
	margin-top: -34px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}




/* foot开始 */
.foot{
	width: 100%;
	height: 272px;
	background-color: #fff;
	margin-top: 62px;
}
.foot-top{
	width: 1226px;
	height: 26px;
	background-color: #fff;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 27px;
	padding-bottom: 27px;

}
.foot-top-item{
	width: 1226px;
	height: 25px;
}
.foot-top-item1{
	width: 242px;
	height: 24px;
	float: left;
}
.foot-top-item2{
	display: block;
	width: 200px;
	height: 24px;
	margin: 0 auto;
}
.foot-top .foot-weixiu{
	font-size: 26px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	float: left;
	color: #616161;
	margin-right: 6px;
}
.foot-weixiuwenzi{
	font-size:16px;
	color: rgba(255, 255, 255, 0.7);
	display: block;
	float: left;
	color: #616161;
}
.foot-bottom{
	width: 1226px;
	height: 112px;
	margin: 0 auto;
	padding: 40px 0;
}
.foot-bottom-item{
	width: 160px;
	height: 112px;
	float: left;
}
.foot-bottom-item1{
	margin-bottom: 26px;
	font-size: 14px;
    color: #424242;
    display: block;
}
.foot-bottom-item2{
	color: #757575;
	font-size: 12px;
	display: block;
	margin-top: 10px;
} 
.foot-bottom-right{
	width: 252px;
	height: 112px;
	float: right;
	text-align: center;
}   
.foot-dianhua{
	margin: 0 0 5px;
    font-size: 22px;
    color: #ff6700;
}
.foot-shijian{
	margin: 0 0 2px;
    font-size: 12px;
    color: #616161;
    display: block;
}
.foot-shihuafei{
    font-size: 12px;
    color: #616161;
    display: block;
    margin: 0 0 16px;
}
.foot-kefu{
	padding-left: 15px;
   	border: 1px solid #ff6700;
   	width: 120px;
   	height: 30px;
   	display: block;
   	width: 118px;
   	height: 28px;
   	margin: 0 auto;
   	text-align: center;
}
.foot-kefu .foot-bottom-xiaoxi1{
	font-size: 12px;
	color: #ff6700;
	float: left;
	line-height: 30px;
	margin-left: 10px;
}
.foot-bottom-xiaoxi{
	font-size: 12px;
	color: #ff6700;
	float: left;
	line-height: 28px;
	margin-left: 5px ;
}
.zuixiamian{
	width: 100%;
	height: 106px;
	background-color: #fafafa;
}
.zuixiamian-neikuan{
	width: 1226px;
	height: 106px;
	margin: 0 auto;
	padding: 30px 0;
}
.zuixiamian-left{
	width: 641px;
	height: 57px;
	float: left;
}
.left-logo{
	width: 57px;
	height: 57px;
	background-color: orange;
	margin-right: 10px;
	float: left;
}
.zuixiamian-yinsi{
	width: 574px;
	height: 57px;
	float: right;
}
.bottom-lianjietop{
	width: 574px;
	height: 18px;
}
.bottom-lianjietop1{
	font-size: 12px;
	color: #757575;
}
.beian{
	color: #b0b0b0;
	font-size: 12px;
	width: 574px;
	height: 35px;
	display: block;
}
.zuixiamian-right{
	width: 500px;
	height: 57px;
	float: right;
}
.tupian1{
	width: 83px;
	height: 28px;
	margin-top: 14.5px;
	float: left;
	margin-right: 10px;
}
/* foot结束 */